@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #1f1f1f;
  --secondary-dark: #eca967;
  --primary-light: #f5cd92;
  --secondary-light: #f2c183;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-dark: #1f1f1f;
    --secondary-dark: #3b3939;
    --ternary-dark: #eca967;
    --primary-light: #f5cd92;
    --secondary-light: #f2c183;
  }
}

body {
  color: var(--secondary-light);
  background: var(--secondary-dark);
}
